@model PROJETO_FUP_Brasil.Models.Cursos

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>

    <h4>Cursos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCurso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCurso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCurso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorCurso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessorCurso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfessorCurso)
        </dd>
        <dd class="col-sm-10">
            Alunos no curso:
        </dd>
        @if (Model.Aluno != null)
        {
            foreach (var item in Model.Aluno)
            {
                if (item.DataTerminoCurso == null || item.DataTerminoCurso.ToString() == "")
                {
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </dd>
                }
            }
        }
        else
        {
            <dd>Nenhum aluno cadastrado no curso</dd>
        }

        @*@foreach (var item in Model.Aluno)
        {
            if (item.DataTerminoCurso == null || item.DataTerminoCurso.ToString() == "")
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="bg-white">Alunos Antigos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color:beige; color:darkgreen; font-weight:900; font-size:22px;">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                        </tr>
                    </tbody>
                </table>

            }

        }*@

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Curso">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a class="link-add text-white" asp-area="" asp-controller="Cursos" asp-action="DownloadAluno">Gerar Relatório</a>
</div>
